/* src/components/ThemeSelector.css */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.select-dropdown.hide {
    left: 0%;
    bottom: 15%;
    animation: slideOutToLeft 0.5s ease-in forwards;
}

  
.select-dropdown {
    position: fixed;
    left: -50%;
    bottom: 15%;
    translate: translate(-50%, -50%);
    font-family: Arial, sans-serif;
}

.select-dropdown.show {
    left: 0%;
    bottom: 15%;
    animation: slideInFromLeft 0.5s ease-in forwards;
}